
<!-- ================ -->
<!-- VEHICLES SECTION -->
<!-- ================ -->
<div class="section-container">
  <input type="checkbox" id="toggle-vehicles-{{actor.id}}" class="sheet-hidden event-toggle-checkbox" {{#if (lookup toggles (concat "toggle-vehicles-" actor.id))}}checked{{/if}}>
  <div class="section-header-row">
    <label for="toggle-vehicles-{{actor.id}}" class="section-heading-toggle">
      <h2 class="section-heading">{{localize "CONTINUUM.Vehicles.Title"}}</h2>
    </label>
    <div class="vehicles-controls">
      <button type="button" class="vehicles-help" eventTitle="{{localize 'CONTINUUM.Common.Help'}}"><i class="fas fa-question"></i></button>
      <button type="button" class="item-add" data-type="vehicle" data-tooltip="{{localize 'CONTINUUM.Vehicles.AddVehicle'}}"><i class="fas fa-plus"></i> {{localize "CONTINUUM.Common.Add"}}</button>
    </div>
  </div>

  <div class="vehicles-list">
    <div class="vehicle-item-header">
       <div class="vehicle-name">{{localize "CONTINUUM.Vehicles.Vehicle"}}</div>
       <div class="vehicle-drive">{{localize "CONTINUUM.Vehicles.Operate"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.Mass"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.IP"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.Armor"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.Pax"}}</div>
      <div class="vehicle-controls"></div>
    </div>
    {{#each vehicles as |vehicle|}}
    <div class="vehicle-item" data-id="{{vehicle.id}}" data-type="{{vehicle.type}}">
      <div class="vehicle-name">
        <select name="system.{{vehicle.systemKey}}.{{vehicle.id}}.name" class="vehicle-select">
            {{#if @root.landVehicleGear}}
             <optgroup label="{{localize 'CONTINUUM.Vehicles.CustomVehicles'}}">
              {{#each @root.landVehicleGear as |gv|}}
              <option value="gear:{{gv.id}}" {{#if (eq (concat "gear:" gv.id) ../name)}}selected{{/if}}>{{gv.name}} (+{{gv.computedBonus}})</option>
              {{/each}}
              {{#each @root.airVehicleGear as |gv|}}
              <option value="gear:{{gv.id}}" {{#if (eq (concat "gear:" gv.id) ../name)}}selected{{/if}}>{{gv.name}} (+{{gv.computedBonus}})</option>
              {{/each}}
              {{#each @root.waterVehicleGear as |gv|}}
              <option value="gear:{{gv.id}}" {{#if (eq (concat "gear:" gv.id) ../name)}}selected{{/if}}>{{gv.name}} (+{{gv.computedBonus}})</option>
              {{/each}}
            </optgroup>
            {{/if}}
             <optgroup label="{{localize 'CONTINUUM.Vehicles.LandVehicles'}}">
              {{#each (lookup @root.allVehicleData "Land Vehicles") as |stats key|}}
                <option value="{{key}}" {{#if (eq key ../name)}}selected{{/if}}>{{key}}</option>
              {{/each}}
            </optgroup>
             <optgroup label="{{localize 'CONTINUUM.Vehicles.AirVehicles'}}">
              {{#each (lookup @root.allVehicleData "Air Vehicles") as |stats key|}}
                <option value="{{key}}" {{#if (eq key ../name)}}selected{{/if}}>{{key}}</option>
              {{/each}}
            </optgroup>
             <optgroup label="{{localize 'CONTINUUM.Vehicles.WaterVehicles'}}">
              {{#each (lookup @root.allVehicleData "Water Vehicles") as |stats key|}}
                <option value="{{key}}" {{#if (eq key ../name)}}selected{{/if}}>{{key}}</option>
              {{/each}}
            </optgroup>
          </select>
      </div>
      <div class="vehicle-drive">
         <button type="button" class="roll-vehicle" data-id="{{vehicle.id}}">{{localize "CONTINUUM.Vehicles.Operate"}}</button>
      </div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.mass}}</span></div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.ip}}</span></div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.armor}}</span></div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.passengers}}</span></div>
      <div class="vehicle-controls">
         <a class="item-delete {{#unless (isDeletable vehicle 'vehicle')}}disabled{{/unless}}" eventTitle="{{#unless (isDeletable vehicle 'vehicle')}}{{localize 'CONTINUUM.Common.CannotDeleteWithContent'}}{{else}}{{localize 'CONTINUUM.Vehicles.DeleteVehicle'}}{{/unless}}" data-type="{{vehicle.type}}" data-id="{{vehicle.id}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
