
<!-- ===================== -->
<!-- WATER VEHICLES SECTION  -->
<!-- ===================== -->
<div class="section-container">
  <input type="checkbox" id="toggle-water-vehicles-{{actor.id}}" class="sheet-hidden event-toggle-checkbox" {{#if (lookup toggles (concat "toggle-water-vehicles-" actor.id))}}checked{{/if}}>
  <div class="section-header-row">
    <label for="toggle-water-vehicles-{{actor.id}}" class="section-heading-toggle">
      <h2 class="section-heading">{{localize "CONTINUUM.Vehicles.WaterVehicles"}}</h2>
    </label>
    <div class="water-vehicles-controls">
       <button type="button" class="water-vehicles-help" eventTitle="{{localize 'CONTINUUM.Common.Help'}}"><i class="fas fa-question"></i></button>
       <button type="button" class="item-add" data-type="waterVehicle" data-tooltip="{{localize 'CONTINUUM.Vehicles.AddWaterVehicle'}}"><i class="fas fa-plus"></i> {{localize "CONTINUUM.Common.Add"}}</button>
    </div>
  </div>

  <div class="vehicles-list">
    <div class="vehicle-item-header">
       <div class="vehicle-name">{{localize "CONTINUUM.Vehicles.Vehicle"}}</div>
       <div class="vehicle-drive">{{localize "CONTINUUM.Vehicles.Pilot"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.Mass"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.IP"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.Armor"}}</div>
       <div class="vehicle-stat">{{localize "CONTINUUM.Vehicles.Passengers"}}</div>
      <div class="vehicle-controls"></div>
    </div>
    {{#each waterVehicles as |vehicle|}}
    <div class="vehicle-item" data-id="{{vehicle.id}}" data-type="waterVehicles">
      <div class="vehicle-name">
<select name="system.waterVehicles.{{vehicle.id}}.name" class="vehicle-select">
  {{#each (lookup @root.allVehicleData "Water Vehicles") as |stats key|}}
    <option value="{{key}}" {{#if (eq key ../name)}}selected{{/if}}>{{key}}</option>
  {{/each}}
</select>
      </div>
      <div class="vehicle-drive">
         <button type="button" class="roll-vehicle" data-id="{{vehicle.id}}">{{localize "CONTINUUM.Vehicles.Pilot"}}</button>
      </div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.mass}}</span></div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.ip}}</span></div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.armor}}</span></div>
      <div class="vehicle-stat"><span class="vehicle-stat-display">{{vehicle.passengers}}</span></div>
      <div class="vehicle-controls">
         <a class="item-delete {{#unless (isDeletable vehicle 'waterVehicle')}}disabled{{/unless}}" eventTitle="{{#unless (isDeletable vehicle 'waterVehicle')}}{{localize 'CONTINUUM.Common.CannotDeleteWithContent'}}{{else}}{{localize 'CONTINUUM.Vehicles.DeleteVehicle'}}{{/unless}}" data-type="waterVehicle" data-id="{{vehicle.id}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
